{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "dvote-demo",
    "storage_bucket": "dvote-demo.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:0123456789abcdef",
        "android_client_info": {
          "package_name": "com.dvote"
        }
      },
      "oauth_client": [
        {
          "client_id": "replace-me.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "replace-me"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
